<header class="header">

	<div class="header__content">

		{% if site.data.settings.header_settings.logo_image %}
    <a href="{{ '/' | relative_url }}" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image }}" class="header__logo__img">
		</a>
		{% else %}
    <a href="{{'/' | relative_url }}" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<h1 class="header__tagline">{{ site.data.settings.basic_settings.site_tagline }}</h1>

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url}}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="projects-menu">
			<ul class="menu__list">
				{% for project in site.projects reversed %}
				<li class="menu__list__item">
					<a href="{{ project.url }}" class="menu__list__item__link">{{ project.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="header__lower">

			{% include socials.html %}

			<div class="footer__copyright">
        <a href="https://gitlab.com/MDEF/landing/blob/master/{{page.path}}" target="_blank">Help us fix this page!</a>
			</div>

		</div>

	</div>

</header>
